SECRET_KEY=
DEBUG=True

ALLOWED_HOSTS=.localhost, .127.0.0.1
ALLOWED_HOSTS_CORS=http://localhost:3000, http://127.0.0.1:3000, http://127.0.0.1:5500
CSRF_TRUSTED_ORIGINS=http://localhost, http://127.0.0.1
